# Build
build/
out/
cmake-build-*/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates
CMakeSettings.json

# MSVC / toolchain artifacts
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
_deps/

# OS
.DS_Store
Thumbs.db
